server:
  port: 8888

spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: "http://localhost:4200"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
            allowedHeaders: "*"
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
#      routes:
#        - id: customer-service
#          uri: http://localhost:8081
#          predicates:
#            - Path=/customers/**
#        - id: inventory-service
#          uri: http://localhost:8082
#          predicates:
#            - Path=/products/**
